.carousel-400 {
  max-height: 400px;
  overflow: hidden;

  .carousel-caption {
    top: 25px;
  }
}

.carousel-500 {
  max-height: 500px;
  overflow: hidden;

  .carousel-caption {
    top: 25px;
  }
}

.carousel-600 {
  max-height: 600px;
  overflow: hidden;

  .carousel-caption {
    top: 25px;
  }
}
