.shoping-car {
    position: fixed;
    right: 4em;
    z-index: 1;
    margin-top: 0.7em;
}

.user-full-name {
    display: none;
}

.dropdown-menu.dropdown-menu-right.portlet-flush.show {
  width: 100em;
  max-width: 33em;
}
