/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "vendor/stylish/variables";
@import "vendor/stylish/mixins";
@import "vendor/stylish/masthead";
@import "vendor/stylish/sidebar";
@import "vendor/stylish/footer";

@import "vendor/simple-line-icons/css/simple-line-icons.css";
@import "vendor/fontawesome-free/css/all.css";

@import "partials/shopping_car";
@import "partials/navigation";

@import "partials/carousel";

@import "portlet/portlet_decorator";
@import "portlet/portlet_interaction";

#wrapper {
    // firt lines from global.scss
    body, html {
        width: 100%;
        height: 100%;
    }

    body {
        @include body-font;
    }

    @import "vendor/stylish/global";
    @import "vendor/stylish/services";
    @import "vendor/stylish/callout";
    @import "vendor/stylish/portfolio";
    @import "vendor/stylish/bootstrap-overrides";
}

// some fixed to adapt the theme to lifeary portal
@import "liferay_fixes";

// Fix for blogs
.portlet-blogs {
	.widget-mode-detail {
		display: flex;
    flex-direction: column;
    align-items: center;
	}

	.aspect-ratio-bg-cover {
		display: block;
    overflow: hidden;
    position: relative;
		height: 31vh;
		width: 48vw;
		padding: 0;
	}
}

// Cart Content Mini

.commerce-order-items-header {
	background-color: $commerce-order-items-header-bg;
	color: $commerce-order-items-header-color;
	padding-left: 0;

	.autofit-row {
		align-items: center;
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

  .autofit-col-expand {
		flex-shrink: 0;
	}

	.commerce-title {
		font-size: 1.25rem;
		font-weight: $font-weight-normal;
		margin-bottom: 0;
	}



}

.commerce-order-items-body {
	background-color: $commerce-order-items-body-bg;
	color: $commerce-order-items-body-color;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1.5rem;

	.list-group-notification {
		color: inherit;
		margin-bottom: 0;

		.list-group-item {
			background-color: $commerce-order-items-body-bg;
			border-bottom-width: $list-group-border-width;
			border-color: rgba(0, 0, 0, 0.1);
			border-top-width: $list-group-border-width;
			box-shadow: none;
			color: inherit;
		}

		.thumbnail-section {
			.sticker {
				background-color: #EDEDED;
				color: $body-color;
			}
		}

		.product-price, .quantity-section, .value-section {
			margin-top: 1rem;
		}
	}

	.list-group-text {
		@include clay-text-typography($commerce-order-items-body-list-group-text);
	}

	.list-group-title {
		@include clay-text-typography($commerce-order-items-body-list-group-title);
	}

	.list-group-subtitle {
		@include clay-text-typography($commerce-order-items-body-list-group-subtitle);
	}

	.main-content-body {
		margin-top: 0;
	}
}

.commerce-order-items-footer {
	background-color: $commerce-order-items-footer-bg;
	color: $commerce-order-items-footer-color;
	padding: 1.5rem 0 0 0;

	.autofit-row {
		align-items: center;

		+ .autofit-row {
			margin-top: 1.5rem;
		}
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-description {
		font-size: 1rem;
		font-weight: $font-weight-light;
	}

	.commerce-value {
		font-size: 1.25rem;
	}

	.commerce-total {
		.commerce-description {
			font-weight: $font-weight-bold;
		}

		.commerce-value {
			font-weight: $font-weight-bold;
		}
	}
}

// Commerce Category Navigation

.commerce-category-navigation-card-page {
	.card-page-item {
		display: flex;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
	}
}

.commerce-category-navigation {
	.card-page-item {
		width: 50%;

		@include media-breakpoint-up(sm) {
			width: 33.33333%;
		}

		@include media-breakpoint-up(md) {
			width: 25%;
		}

		@include media-breakpoint-up(lg) {
			width: 20%;
		}

		@include media-breakpoint-up(xl) {
			width: 16.66667%;
		}
	}
}

.commerce-category-navigation-inline {
	.card-page-item {
		flex-basis: 182px;
		min-width: 182px;

		@include media-breakpoint-up(lg) {
			flex-basis: 240px;
			min-width: 240px;
		}
	}

	.card {
		margin-bottom: 1rem;

		@include media-breakpoint-up(lg) {
			margin-bottom: 1.5rem;
		}
	}
}

// Cards

.card-page .product-expand, .card-section-expand {
	flex-grow: 1;
}

.catalog-card-page {
	align-self: stretch;
	margin-bottom: 1.25rem;

	.card {
		display: flex;
		flex-direction: column;
		height: 100%;
		padding: 1rem;
		width: 100%;
	}

	.card-page-item-asset {
		display: flex;
		flex-basis: 15.6875rem;
		min-width: 15.6875rem; // 251px
	}

	.product-sku {
		font-size: 0.75rem;
		font-weight: $font-weight-bold;
		margin-bottom: 0.75rem;
	}

	.card-title {
		font-size: 1.125rem;
		font-weight: $font-weight-normal;
	}

	.product-description {
		margin-bottom: 3rem;
	}

	.product-expand {
		flex-grow: 1;
	}

	.product-list-info-compare {
		line-height: 1.5rem;
		padding: 1px 0;
	}

	.product-actions {
		margin-bottom: 1.25rem;
	}

	// Product Price

	.product-price {
		margin-bottom: 2rem;
	}

	.commerce-prefix {
		color: $secondary;
		font-size: 0.9375rem;
		font-weight: $font-weight-light;
	}

	.commerce-price {
		font-size: 1rem;
		font-weight: $font-weight-semi-bold;
	}

	.commerce-suffix {
		color: $secondary;
		font-size: 0.75rem;
	}

	// Quantity Input

	.commerce-quantity-container {
		margin-right: 0.5rem;
		max-width: 54px;

		.control-label {
			display: none;
		}

		.form-control {
			padding-left: 0.5rem;
			padding-right: 0.5rem;
		}

		.form-group {
			margin-bottom: 0;
		}
	}

	.product-footer {
		.custom-control-label-text {
			font-weight: $font-weight-normal;
		}

		.available-variants {
			color: $secondary;
			font-size: 0.8125rem;
			font-weight: $font-weight-semi-bold;
			line-height: 1.625rem;
		}
	}

	+ .form {
		margin-top: 2rem;
	}
}

.card:hover {
	box-shadow: 0 0.625rem 2rem -0.1875rem rgba(0, 0, 0, 0.125);
}

.card-page-nowrap {
	width: 100%;

	.card-page {
		-webkit-overflow-scrolling: touch;
		flex-wrap: nowrap;
		overflow: auto;
	}
}

.commerce-simple-card {
	.card {
		align-items: center;
		border-color: transparent;
		display: flex;
		justify-content: flex-start;
		margin-bottom: 2rem;
		padding: 2rem 1rem;
		text-align: center;
		width: 100%;

		&:hover {
			text-decoration: none;

			.card-title {
				color: $primary;
			}
		}
	}

	.card-image {
		height: 6.25rem;
		margin-bottom: 1.5rem;

		@include media-breakpoint-up(lg) {
			height: 7.8125rem;
		}

		+ .card-title {
			margin-top: 0;
		}
	}

	.card-title {
		@include clay-text-typography($commerce-simple-card-title);

		margin-top: 7.75rem;

		@include media-breakpoint-up(lg) {
			font-size: 1.5rem;
			margin-top: 9.3125rem;
		}
	}
}


.portlet-forms {
  text-align: center;

  label.required-warning {
    display: inline;
  }

  .lfr-ddm-form-pagination-controls .btn {
    float: none !important;
  }
}

// Compare Mini

.portlet-commerce-product-compare-content-mini {
	bottom: 0;
	left: 14px;
	position: fixed;
	right: 14px;
	z-index: $zindex-fixed;

	@include media-breakpoint-up(md) {
		left: 10%;
		right: 10%;
	}

	.portlet {
		margin-bottom: 0;
	}
}

.compare-products-mini-header {
	background-color: #F9F9F9;
	border: 1px solid #DADADA;

	@include border-top-radius($border-radius);
}

.lfr-compare-products-mini-header {
	color: #272833;
	display: block;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-top: 0.5rem;

	&:hover {
		color: #272833;
		text-decoration: none;
	}
}

.toggler-header-collapsed .collapse-icon-closed {
	display: block;
}

.toggler-header-collapsed .collapse-icon-open {
	display: none;
}

.lfr-compare-products-mini-content {
	.card-page {
		background-color: #FFF;
		border-color: #DADADA;
		border-style: solid;
		border-width: 0 1px;
		flex-wrap: nowrap;
		margin-left: 0;
		margin-right: 0;
		overflow: auto;
		padding-bottom: 1.5rem;
		padding-top: 1rem;
	}

	.card-page-item {
		align-items: center;
		display: flex;
		justify-content: center;
		padding-left: $grid-gutter-width / 2;
		padding-right: $grid-gutter-width / 2;
		width: 200px;

		.autofit-col-expand {
			min-width: 6.25rem;
		}

		+ .card-page-item-shrink {
			margin-left: auto;
		}
	}

	.card-page-item-shrink {
		width: auto;

		+ .card-page-item-shrink {
			margin-left: 0;
		}
	}

	.card {
		margin-bottom: 0;
		width: 75px;

		.aspect-ratio-item-fluid {
			max-width: 64%;
		}

		.sticker {
			align-items: center;
			display: flex;
			height: 1rem;
			justify-content: center;
			width: 1rem;

			a {
				display: block;

				> span {
					align-items: center;
					background-color: $primary;
					border-radius: $rounded-circle-border-radius;
					color: #FFF;
					display: flex;
					height: 1rem;
					justify-content: center;
					width: 1rem;

					.lexicon-icon {
						height: 0.5rem;
						width: 0.5rem;
					}
				}
			}
		}

		.sticker-top-right {
			right: 3px;
			top: 3px;
			z-index: 1;
		}
	}

	.compare-link {
		margin-left: 0.5rem;
	}

	.compare-add-more {
		margin-right: auto;
	}
}
