/* These inject tags are used for dynamically creating imports for themelet styles, you can place them where ever you like in this file. */

/* inject:imports */
/* endinject */

/* This file allows you to override default styles in one central location for easier upgrade and maintenance. */

@import "vendor/stylish/variables";
@import "vendor/stylish/mixins";
@import "vendor/stylish/masthead";
@import "vendor/stylish/sidebar";
@import "vendor/stylish/footer";

@import "vendor/simple-line-icons/css/simple-line-icons.css";
@import "vendor/fontawesome-free/css/all.css";

@import "partials/shopping_car";
@import "portlet/portlet_decorator";

#wrapper {
    // firt lines from global.scss
    body, html {
        width: 100%;
        height: 100%;
    }

    body {
        @include body-font;
    }

    @import "vendor/stylish/global";
    @import "vendor/stylish/services";
    @import "vendor/stylish/callout";
    @import "vendor/stylish/portfolio";
    @import "vendor/stylish/bootstrap-overrides";
}

// some fixed to adapt the theme to lifeary portal
@import "liferay_fixes";



// Cart Content Mini

.commerce-order-items-header {
	background-color: $commerce-order-items-header-bg;
	color: $commerce-order-items-header-color;
	padding-left: 0;

	.autofit-row {
		align-items: center;
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

  .autofit-col-expand {
		flex-shrink: 0;
	}

	.commerce-title {
		font-size: 1.25rem;
		font-weight: $font-weight-normal;
		margin-bottom: 0;
	}



}

.commerce-order-items-body {
	background-color: $commerce-order-items-body-bg;
	color: $commerce-order-items-body-color;
	padding-left: 0;
	padding-right: 0;
	padding-top: 1.5rem;

	.list-group-notification {
		color: inherit;
		margin-bottom: 0;

		.list-group-item {
			background-color: $commerce-order-items-body-bg;
			border-bottom-width: $list-group-border-width;
			border-color: rgba(0, 0, 0, 0.1);
			border-top-width: $list-group-border-width;
			box-shadow: none;
			color: inherit;
		}

		.thumbnail-section {
			.sticker {
				background-color: #EDEDED;
				color: $body-color;
			}
		}

		.product-price, .quantity-section, .value-section {
			margin-top: 1rem;
		}
	}

	.list-group-text {
		@include clay-text-typography($commerce-order-items-body-list-group-text);
	}

	.list-group-title {
		@include clay-text-typography($commerce-order-items-body-list-group-title);
	}

	.list-group-subtitle {
		@include clay-text-typography($commerce-order-items-body-list-group-subtitle);
	}

	.main-content-body {
		margin-top: 0;
	}
}

.commerce-order-items-footer {
	background-color: $commerce-order-items-footer-bg;
	color: $commerce-order-items-footer-color;
	padding: 1.5rem 0 0 0;

	.autofit-row {
		align-items: center;

		+ .autofit-row {
			margin-top: 1.5rem;
		}
	}

	.autofit-col {
		padding-left: 0.5rem;
		padding-right: 0.5rem;
	}

	.commerce-description {
		font-size: 1rem;
		font-weight: $font-weight-light;
	}

	.commerce-value {
		font-size: 1.25rem;
	}

	.commerce-total {
		.commerce-description {
			font-weight: $font-weight-bold;
		}

		.commerce-value {
			font-weight: $font-weight-bold;
		}
	}
}
